* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;

    @media screen and (min-width: 768px) {
        padding: 0 150px;
    }
   
}

.main {
    display: grid;
    gap: 100px;
    
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
}

.header__nav {
    display: grid;
    grid-auto-flow: column;
  
}

.header__menu {
    display: grid;
    grid-auto-flow: column;
}

.icon-menu {
    fill: transparent;
    stroke: black;
}
.hero-section {
    padding: 124px 0;
    position: relative;
    z-index: -1;
    
    background-image: url(/images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media screen and (min-width: 768px) {
        background-image: url(/images/desktop/image-hero.jpg);
    }
}




/* about-section */
.about-section__container {
    display: grid;
    
    @media screen and (min-width: 768px) {
        width: 100%;
    max-width: 1144px;
    
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    justify-self: center;
    margin: 0 auto;
    }
    
}

    

.about-section__image {
    @media screen and (min-width: 768px) {
        grid-area: 1 / 1 / 4 / 5;
    }
    
    
}


.about-section__info {
    padding: 0 50px;

    @media screen and (min-width: 768px) {
        grid-area: 2 / 4 / 4 / 7;
    position: relative;
    z-index: 1;
    background-color: aliceblue;
    padding: 150px 0 0 100px;
    }
    
    
}








/*@media screen and (min-width: 768px) */


.products-section__container {
   
    display: grid;
   grid-template: min-content min-content min-content / 1fr;
   justify-items: center;
   gap: 40px;
   margin: 0 auto;

   @media screen and (min-width: 768px) {
    
    grid-template: min-content min-content min-content / 1fr 1fr 1fr 1fr;
   }
 
}


.products-section__list {
    grid-column: 1 / 5;
    display: grid;
    
    gap: 40px;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}



.products-section__button {
    
    justify-self: center;

    @media screen and (min-width: 768px) {
        grid-row: 1 / 2;
        grid-column: 3 / 5;
        justify-self: end;
    }

}