* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

.wrapper {
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    min-height: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}