:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-dark-gray: hsl(0, 0%, 55%);
    --color-very-dark-gray: hsl(0, 0%, 41%);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;